.navbar {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 0 15px;
    background: teal;
    color: white;
}

.navbar-options {
    display: flex;
    justify-content: flex-end;
  }

.navbar-options a {
    margin: 10px;
    font-size: 15px;
    text-decoration: none;
    color: white;
    opacity: 0.8;
}

.navbar-options a:hover {
    opacity: 1;
}



